.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.label {
  color: var(--primary);
  display: inline-block;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.hint {
  color: var(--primary-light);
  font-size: 0.75rem;
  font-weight: 400;
}

.notRequired {
  color: var(--primary-light);
  font-weight: 400;
}

.input {
  align-items: center;
  border: unset;
  color: var(--primary);
  display: flex;
  gap: 0.5rem;
  min-width: 7.5rem;
  padding: 0.5rem 1rem;
  position: relative;
  width: 100%;
  border-radius: 0px;
  border-width: 1px;
  border-color: var(--primary);
  border-style: solid;
  width: 100%;

  &:hover {
    border-color: var(--primary-dark);
  }

  &:focus-visible {
    outline: 1px solid var(--primary-dark);
  }
}

.error {
  align-items: center;
  color: var(--error);
  display: flex;
  gap: 0.25rem;
  margin-top: 0.5rem;
  font-size: 0.75rem;
}