.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.label {
  color: #248e9c;
  display: inline-block;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.hint {
  color: var(--neutral-60);
  font-size: 0.75rem;
  font-weight: 400;
}

.notRequired {
  color: var(--neutral-50);
  font-weight: 400;
}

.input {
  align-items: center;
  border: unset;
  color: #248e9c;
  display: flex;
  gap: 0.5rem;
  min-width: 7.5rem;
  padding: 0.5rem 1rem;
  position: relative;
  width: 100%;
  border-radius: 0px;
  border-width: 1px;
  border-color: #248e9c;
  border-style: solid;
  max-width: 250px;
  width: 100%;

  &:hover {
    border-color: #16555e;
  }

  &:focus-visible {
    outline: 1px solid #248e9c;
  }
}

.error {
  align-items: center;
  color: #b31800;
  display: flex;
  gap: 0.25rem;
  margin-top: 0.5rem;
  font-size: 0.75rem;
}